APP_DOMAIN=guiderbus.com
TRAEFIK_NETWORK=traefik-proxy
TRAEFIK_ENTRYPOINT=websecure
TRAEFIK_CERT_RESOLVER=letsencrypt

RESEND_API_KEY=
LEAD_TO_EMAIL=contact@guiderbus.com
LEAD_FROM_EMAIL="Guiderbus <contact@guiderbus.com>"

TURNSTILE_SECRET_KEY=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=

NEXT_PUBLIC_PLAUSIBLE_DOMAIN=guiderbus.com
